<h2>{{ title }}</h2>
<div id="completeness-table">
    <br/>
    <table id="role-completeness" width="50%">
        <tr class="list-row list-row-head text-muted" style="width: 100%">
            <th>Роль</th>
            <th>Заполненность</th>
        </tr>
        {% for item in role_completeness %}
            <tr class="list-row">
                <td><a href="{{ item.url }}">{{ item.name }}</a></td>
                <td><a href="{{ item.url }}">{{ item.progress }}%</a></td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <table id="developer-completeness" width="50%">
        <tr class="list-row list-row-head text-muted" style="width: 100%"><th>Разработчик</th><th>Заполненность</th></tr>
        {% for item in developer_completeness %}
            <tr class="list-row">
            <td>{{ item.name }}</td>
            <td>{{ item.progress }}%</td>
            </tr>
        {% endfor %}
    </table>
</div>
